.subreddits {
    margin: 60px;
}

.subreddit-list {
    width: 100%;
    display: table;
}

.subreddit-list-item {
    float: left;
    height: 100px;  
    max-height: 100px;
    width: 45%;
    padding: 20px;
    border: 1px solid #ececec;
    margin-bottom: 20px;
    margin-right: 20px;

    overflow: hidden;
    display: table-cell;
}

.subreddit-list-item .subreddit-list-item__thumbnail {
    display: table-cell;
}

.subreddit-list-item .subreddit-list-item__body {
    vertical-align: top;
    display: table-cell;

    padding-left: 30px
}

