.vote {
    text-align: center;
    font-size: 20px;
}

.vote .vote__score {
    margin: 3px 0px;
}

.vote .vote__arrow-up,
.vote .vote__arrow-down {
    color: #ECECEC;
}

.vote .vote__arrow-up--selected,
.vote .vote__arrow-down--selected {
    color: #333333;
}

.vote .vote__arrow-up--active:hover,
.vote .vote__arrow-down--active:hover  {
    color: #333333;
}